<template>
  <el-row :gutter="24">
    <el-col :span="12" :offset="6">
      <div class="grid-content">
        <el-form :inline="true" :model="formSptfy" class="demo-form-inline">
          <el-form-item label="Buscar por album">
            <el-input v-model="formSptfy.nameAlbum" placeholder=""></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit(formSptfy.nameAlbum)">Buscar</el-button>
          </el-form-item>
        </el-form>
        <el-alert
          title="Debe ingresar el nombre del album"
          type="error"
          effect="dark"
          v-if="alert"
        >
        </el-alert>
      </div>
    </el-col>
    <el-col :span="12" :offset="6">
      <div class="grid-content" v-if="albumsFlag">
        <el-table
          :data="albums"
          border
          style="width: 100%">
          <el-table-column
            label="imagen"
            width="200">
            <template slot-scope="scope">
              <img class="img-album" :src="scope.row.images[0].url" />
            </template>
          </el-table-column>
          <el-table-column
            prop="name"
            label="Artistas"
            width="230">
            <template slot-scope="scope">
              <li v-for="artist in scope.row.artists">{{ artist.name }}</li>
            </template>
          </el-table-column>
          <el-table-column
            prop="release_date"
            label="Año"
            width="100px">
          </el-table-column>
          <el-table-column
            label="Acciones"
            >
            <template slot-scope="scope">
              <a :href="'#/album/' + scope.row.id"><el-button  type="primary" icon="el-icon-info" circle></el-button></a>
            </template>
          </el-table-column>
        </el-table>
      </div>
    </el-col>
  </el-row>

</template>

<script>
    export default {
        data() {
            return {
                formSptfy: {
                    nameAlbum: ''
                },
                albums: [],
                albumsFlag: false,
                alert: false

            }
        },
        methods: {
            onSubmit(name) {
                let self = this;
                self.loading = true;
                if(!name) this.alert = true;
                else {
                    this.alert = false;
                    self.$store.state.services.albumService.
                    getAlbumsByName(name)
                        .then(r => {
                            this.albums = r.data.data.results;
                            this.albumsFlag = true;
                            console.log(this.albums);
                        })
                        .catch(r => {});
                }

            }
        }
    }
</script>

<style>
  .el-row {
    margin-bottom: 20px;
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }

  .img-album {
    width: 150px;
    height: 150px;
  }
</style>
