<template>
  <el-container>
    <el-header>

    </el-header>
    <el-main>
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>Detalle del Album</span>
        </div>
        <el-row>
          <el-col :span="12">
            <div class="grid-content bg-purple">
              <img class="img-album" src="" />
            </div>
          </el-col>
          <el-col :span="12">
            <div class="grid-content bg-purple-light">
              <h3>Tracks</h3>
              <li v-for="track in album" class="list-track">
                {{ track.name }} - {{ getDurationTrack(track)}}
              </li>
            </div>
          </el-col>
        </el-row>

      </el-card>
    </el-main>
  </el-container>
</template>

<script>
    import msToHms from 'ms-to-hms'
    export default {
        name: "AlbumDetail",
        data() {
            return {
                album: {}
            }
        },
        created() {
            let self = this;
            self.$store.state.services.albumService.
            getInfoAlbum(self.$route.params.id)
                .then(r => {
                    this.album = r.data.data;
                })
                .catch(r => {});

        },
        methods: {
            getDurationTrack(track) {
              return msToHms(track.duration_ms);
            }
        }
    }
</script>

<style scoped>
.list-track {
  text-align: justify;
}
</style>
